*{ 
margin :0;
padding:0;
text-decoration: none;
color: black;
font-family: "electro";
}

@font-face {
    font-family: "electro" ;
    src: url(../fonts/Ethnocentric\ Rg.otf);
}

body{
    width: 100%;
}

header{
    width: 100%;
}

.head-content{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.home-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
}
.links{
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

button{
    background: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}
.button-link{
    color: white;
    font-weight: 300;

}

/* home section  */

#home{
    width: 100%;
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.discription{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.home-img{
    width: 300px;
}
.contact-button{
    background: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}
.contact-link{
    color: white;
    font-weight: 300;
}
.sponsored{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.company-logos{
    width: 30px;
}

