* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: "eco";
}

@font-face {
    font-family: "eco";
    src: url(../fonts/Ethnocentric\ Rg.otf);
}

body {
    width: 100%;
}

header {
    width: 100%;
}

.head-content {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.home-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
}

.links {
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

button {
    background: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}

.button-link {
    color: white;
    font-weight: 300;

}

/* home section  */

#home {
    width: 100%;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.discription>p {
    width: 50%;
}

.home-img {
    width: 300px;
}

.contact-button {
    background: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}

.contact-link {
    color: white;
    font-weight: 300;
}

.sponsored {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 4vh 0;
}

.company-logos {
    width: 30px;
}

/* secend section  */

#services {
    width: 100%;
}

.services-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.services-skils {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 3rem;
    font-size: small;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-content {
    padding: 4vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
}

.img-service {
    width: 100px;
}

#menu {
    display: none;
}

.open,
.close {
    display: none;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;

}


.infos-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;

}

.infos-top,
.infos-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;

}

.infos-top>img,
.infos-bottom>img {
    width: 25vw;

}

.infos-top-content {
    border: 1px solid black;
    padding: 3vw;
    border-radius: 10px;
    box-shadow: 1px 1px;
}

.experience {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
}

.exp-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 3vh 0;
}

.exp-top>h2,
.exp-top>p,
.percentage>h1,
.percentage>p {
    color: white;
}

.exp-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;

}

.percentage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience>a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us {
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us>img {
    width: 25vw;
}

.left-choose {
    gap: 2vw;
    display: flex;
    flex-direction: column;
}

.left-choose>div {
    align-items: start;
    gap: 1vw;
    display: flex;
    justify-content: center;
}

.newsletter {
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.newsletter>h2 {
    font-size: 30px;
}

.newsletter>input {
    width: 30vw;
    padding: 1vh;
    border-radius: 10px;
}

.newsletter>button {
    color: white;
    padding: 1vh 2vw;
}

footer {
    padding: 5vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* phone respo */

@media (max-width: 480px) {
    * {
        padding: 0;
        margin: 0;
        /* color: white; */
    }

    body {
        width: 100%;
    }

    header {
        width: 100%;
    }

    .head-content {
        padding-inline: 1rem;
        justify-content: space-between;
    }

    .sponsored {
        gap: 3rem;
        width: 90%;
        overflow-x: scroll;

    }

    .sponsored::-webkit-scrollbar {
        display: none;
    }

    .home-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 100;
    }

    .discription {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vw;
        padding: 5vh 0;
        /* overflow: x; */
    }

    .discription>p {
        width: 90%;
    }

    .services-skils {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: x-small;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
    }

    .img-service {
        width: 30px;
    }

    .links {
        background: #fff;
        color: #000;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        top: 0;
        width: 100%;
        right: -200%;
        height: 100vh;
        transition: 0.5s;
        gap: 2rem;
    }

    .links>a {
        color: black;
    }


    .open,
    .close {
        display: block;
    }

    #menu:checked~.links {
        right: 0;
    }

    #menu:checked~.open {
        display: none;
    }

    #menu:checked~.close {
        display: block;
    }

    .infos-title>p {
        text-align: center;
    }

    .infos-top,
    .infos-bottom {
        flex-direction: column;
        gap: 2vw;
        padding: 2vh;
    }

    .infos-top>img,
    .infos-bottom>img {
        width: 50vw;

    }

    .infos-top-content,
    .infos-top-content {
        text-align: center;
    }

    /* edit ny said  */

    .experience{
        width: 100%;
        height: fit-content;
        background-color: black;
        gap: 3vw;
        justify-content: center;
    }

    .exp-top {
        text-align: center;
    }

    .why-choose-us {

        flex-direction: column-reverse;
    }

    .why-choose-us>img {
        width: 50vw;
    }

    .newsletter {
        text-align: center;
        gap: 2vw;
    }

    .newsletter>input {
        width: 90vw;

    }

    .newsletter>input::placeholder {
        text-align: center;
    }

    .newsletter>button {
        width: 90vw;
    }

    footer {
        flex-direction: column;
        gap: 3vw;
    }
}